/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* Note: It's better to use display:inline-block; if width is set on the element you want to clear */
.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*FONTS -- KARBON*/


@font-face {
    font-family: 'karbonlight';
    src: url('fonts/karbon/karbon-light-webfont.eot');
    src: url('fonts/karbon/karbon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-light-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-light-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-light-webfont.svg#karbonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonregular';
    src: url('fonts/karbon/karbon-regular-webfont.eot');
    src: url('fonts/karbon/karbon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-regular-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-regular-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-regular-webfont.svg#karbonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonmedium';
    src: url('fonts/karbon/karbon-medium-webfont.eot');
    src: url('fonts/karbon/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-medium-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-medium-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-medium-webfont.svg#karbonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
}




@font-face {
    font-family: 'karbonsemibold';
    src: url('fonts/karbon/karbon-semibold-webfont.eot');
    src: url('fonts/karbon/karbon-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-semibold-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-semibold-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-semibold-webfont.svg#karbonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonthin';
    src: url('fonts/karbon/karbon-thin-webfont.eot');
    src: url('fonts/karbon/karbon-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-thin-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-thin-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-thin-webfont.svg#karbonthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonbold';
    src: url('fonts/karbon/karbon-bold-webfont.eot');
    src: url('fonts/karbon/karbon-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-bold-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-bold-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-bold-webfont.svg#karbonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: karbonregular;
	letter-spacing: 2px;
}
.content{
	width: 95%;
	max-width: 880px;
	margin: 0 auto;
}
/*header*/
header{
	background: #ededed;
	text-align: center;
	color: #a9a9a9;
	padding: 83px 0px 140px 0px;
}
#welcome{
	font-size: 18px;
	font-family: karbonmedium;
	text-transform: uppercase;
	padding: 30px 0px 30px 0px;
}
#tagline{
border-top: #dcdcdc solid medium;
border-bottom: #dcdcdc solid medium;
color: #909090;
text-transform: uppercase;
line-height: 30px;
margin: 30px 0px 20px 0px;
}

header form#topform input{
	border: 0px;
	box-shadow:none;
	text-align: center;
	border-radius: 0px;
	font-size: 20px;
	font-family: karbonlight;
	padding: 10px;
	margin-right: 20px;
}
form#topform #submit1{
	font-family: karbonregular;
	background: #ffcc00;
	color: #FFFFFF;
	letter-spacing: 2px;
	position: relative;
	top: -5px;
	padding: 10px 12px 9px 12px;
}
form#topform{
	display: inline-block;
}

#inputs a{
	display: inline-block;
	position: relative;
	top: 12px;
}
#inputs a.facebook{
	margin-right: 10px;
}
#navbttnwrapper {
	display: none;
	background-color: #2b2b28;
	height: 46px;
	width: 100%;
	position: fixed;
	top: 0;
}
#navbttn {
	position: absolute;
	padding: .5em;
	height: 30px;
	width: 30px;
	right: 0;
	display: inline-block;
	background-color:#2b2b28;
	cursor:pointer;
}
#navbttn:before{
	border-top: 6px solid #ffcc00;
	border-bottom: double 18px #ffcc00;
	height: 6px;
	width: 30px;
	content: "";
	position: absolute;
}
.errors {
	display: block;
	color: #66cccc;
	line-height: 30px;
	text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    display:none!important;
}
input[type="checkbox"] + label span, input[type="radio"] + label span{
    display:inline-block;
    width:21%;
    height:49px;
    vertical-align:middle;
    background:url(images/x.png) center no-repeat;
    cursor:pointer;
    float: right;
    background-color: #666666;
}
input[type="checkbox"] + label span {
	width:6%;
    height:49px;
}
input[type="radio"] + label span{
	width:21%;
    height:49px;
}

input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
    background:url(images/check.png) center no-repeat;
    background-color: #66cccc;
}
/*end header*/

/*nav*/
nav{
	background: #2b2b28;
	text-align: center;
	margin-bottom: -20px;
}
nav ul{
	padding: 10px 0px 0px 0px;
}
nav ul li{
	display:inline-block;
	text-align: center;
	padding: 0px 31px 0px 31px;
}
nav ul li a{
	color:#ffcc00;
	font-size: 14px;
	font-family: karbonsemibold;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
nav ul li a:hover{
	color: #FFFFFF;
}
ul.nav li#about1{
	padding-left: 0px;
}
ul.nav li#subscribe1{
	padding-right: 0px;
}
.active a{
	color: #FFFFFF;
}

#sticky_navigation_wrapper {
	background: #2b2b28;
	text-align: center;
	margin-bottom: -20px;
}

#sticky_navigation {
	width: 100%;
	position: relative;
	z-index: 999999;
	height: 32px;
	background: #2b2b28;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

/*end nav*/
section#smallspaces{
	background: url(images/smallspacesbigideas.jpg) bottom center no-repeat;
	background-size: cover;
	height: 560px;
	color:#ffcc00;
	font-family: karbonsemibold;
	font-size: 30px;
	text-align: center;
	border-top: #666666 solid medium;
	border-bottom: #ededed solid thick;
}
div.smallspaces{
	position: relative;
	top: 45%;
}

/*about section*/
#about{
	background: #ffcc00;
	border-top: #ffffff solid thick;
	padding: 85px 0px 85px 0px;
	border-bottom: #ededed solid thick;
}
#about .column{
	width: 50%;
	max-width: 420px;
	display: inline-block;
}
#about .left{
	float:left;
}
#about .left .inner{
	padding-right: 35px;
}
#about .right .inner{
	padding-left: 35px;
}
#about h1{
	font-family: karbonthin;
	font-size: 30px;
	padding-bottom: 15px;
	border-bottom: solid thin black;
}
#about p{
	padding-top: 15px;
	text-align: justify;
	line-height: 22px;
	font-size: 14px;
}
p.ctas{
	font-family: karbonsemibold;
	color: #FFFFFF;
	margin-top: 20px;
	letter-spacing: 1px;
}

/*about section end*/
/*iamhereto section*/
#iamhereto{
	background: url(images/checkers.jpg);
	text-align: center;
	height: 330px;
	border-top: #FFFFFF solid thick;
	border-bottom: #ededed solid thick;
}
#iamhereto .content{
	position: relative;
	top: 40%;

}
#ohhello{
	color: #666666;
	margin-bottom: 20px;
}
ul#nav2{
	padding: 10px;
	background: #2c2c2a;
}
ul#nav2 li{
	display:inline-block;
}
ul#nav2 li a{
	color: #ffcc00;
	font-family: karbonmedium;
	font-size: 25px;
	padding: 12px;
}
/*iamhereto section end*/
#chair{
	background: url(images/chair.jpg) bottom center no-repeat;
	border-bottom: #ffcc00 solid thick;
	border-top: #ffffff solid thick;
	background-size: cover;
	height: 560px;
}


/*layout section*/

section#layout{
    background: url(images/checkers2.jpg);
    padding: 0px 0px 40px 0px;
    border-top:  #ffcc00 solid thick;
	border-bottom: #cccccc solid thick;
}
span.bold{
	font-family: karbonmedium;
	font-size: 16px;
}
section#layout .content{
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
}

section#layout .layoutP{
    padding: 40px 60px 20px 60px;
    background: #ededed;
}
section#layout .layoutP .inner{
	max-width: 980px;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

section#layout .layoutP h1{
    color: #333;
    font-family: karbonthin;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
section#layout .layoutP p{
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    font-family: karbonlight;
    border-top: solid 1px #ccc;
    color: #333;
    text-align: justify;
    line-height: 23px;
}
section#layout .layoutP p:nth-child(3){
    padding-top: 10px;
    font-size: 13px;
    border-top: none;
    color: #333;
    text-align: justify;
    line-height: 20px;
}
section#layout .dept{
    float:left;
    display:block;
    width: 21%;
    text-align: center;
    padding: 20px 25px 0px 25px;
}

section#layout article#depts{
    margin: 0 auto;
}

section#layout .dept img{
 max-width: 234px;
    margin: 20px 0px 20px 0px;
}
section#layout .dept:nth-last-of-type(1){
    padding-right: 0px;
}
section#layout .dept h2{
    font-size: 30px;
    width: 100%;
    color: #eee;
    padding: 10px 0px 10px 0px;
	background: #2b2b28;
	font-family: karbonmedium;
    letter-spacing: 2px;
}
section#layout .dept p{
    text-align: justify;
    border-top: solid 20px #000000;
    padding: 20px 0px 20px 0px;
    line-height: 23px;
    height: 300px;
    font-family: karbonthin;
}

section#layout .dept .bold{
color: #333;
font-family: karbonsemibold;
}

.dept h3{
	background: #ffcc00;
	font-size: 20px;
	font-family: karbonmedium;
	padding: 5px;
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;
}
a.learnmore{
	display:block;
	background: #cccccc;
	width: 85%;
	margin: 0 auto;
	font-family: karbonmedium;
	font-size: 18px;
	padding: 5px;
	color: #000000;
	text-decoration: none;

}
a.tellafriend{
	display:block;
	background: #66cccc;
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 18px;
	padding: 5px;
	color: #000000;
	text-decoration: none;
}
/*layout section end*/

#transferhere{
	background: url(images/transferhere.jpg) center center no-repeat;
	background-size: cover;
	height: 554px;
	color:#ffcc00;
	font-family: karbonsemibold;
	font-size: 30px;
	text-align: center;
	border-top: #cccccc solid medium;
	border-bottom: #ededed solid thick;
}

/*membership section*/
#membership{
	border-top: #ededed solid thick;
	border-bottom: #ffffff solid thick;
	background: #2b2b28;
	padding: 80px 0px 40px 0px;
}

#membership .column{
	width: 50%;
	max-width: 420px;
	display: inline-block;
}
#membership .left{
	float:left;
}
#membership .left .inner{
	padding-right: 35px;
}
#membership .right .inner{
	padding-left: 35px;
}
#membership h1{
	font-family: karbonthin;
	font-size: 30px;
	color: #cccccc;
	padding-bottom: 15px;
	border-bottom: solid thin #cccccc;
}
#membership p{
	padding-top: 15px;
	text-align: justify;
	line-height: 22px;
	font-size: 14px;
	color: #cccccc;
}
#membership p.yellow{
	font-family: karbonmedium;
	color: #ffcc00;
	text-transform: uppercase;
}

#membership p.grey{
	font-family: karbonmedium;
	text-transform: uppercase;
}
#iwant{
	clear:both;
	color: #66cccc;
	font-family: karbonmedium;
	font-size: 25px;
	padding-top: 40px;
	display:block;
}
/*membership section end*/

/*options section*/
#options{
	background: #ededed;
	border-top: #FFFFFF;
	padding-bottom: 40px;
}
#options .content{
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
	padding-top: 40px;
}

.option{
	float:left;
    display:block;
    width: 25%;
    text-align: center;
}
.option .inner{
	padding: 20px;
	padding-bottom: 0px;
}

#options h1{
	text-align:center;
	color: #FFFFFF;
	background: #666666;
	padding: 10px;
	font-family: karbonmedium;
	font-size: 30px;
	padding: 10px 0px 10px 0px;
	margin-bottom: 20px;
}
#options h2{
	background: #ffcc00;
	font-family: karbonmedium;
	color: #000000;
	padding: 5px 0px 5px 0px;
	margin-bottom: 10px;
}

.box{
	text-align: justify;
	background: #cccccc;
	padding: 20px;
	min-height: 260px;
}

.box p{
	font-family: karbonthin;
	line-height: 20px;
	padding-bottom: 60px;
	min-height: 149px;
}
.box .price{
	font-family: karbonmedium;
	text-align: center;
	border-top: #ffffff solid thin;
	padding-top: 10px;
	line-height: 20px;
}
.selectbox{
	font-family: karbonmedium;
	font-size: 30px;
	color: #ffffff;
	text-align: left;
	margin-top: 3px;
	width: 100%;
}
.selectthis{
	background: #666666;
	display: inline-block;
	text-align: center;
	width: 78%;
	border-right: #ffffff solid thin;
	padding: 10px 0px 9px 0px;
	float:left;
}
button.check{
	text-align: center;
	display: inline-block;
	background: #666666;
	width: 21%;
	padding: 9px 0px 8px 0px;
	border: none;
	margin-left: 0px;
	color: #FFFFFF;
	float:right;
	position: relative;
	font-size: 30px;
	font-family: karbonmedium;
}
.option#transfer{
	float:right;
}

.option2{
	clear:both;
	margin-bottom: 40px;
}
#options2 .inner{
	padding: 20px;
	padding-top: 0px;
}

.option2 .heading{
	background: #666666;
	width: 100%;
}
.option2 .heading .headingLeft{
	float:left;
	width: 94%;
	padding: 10px 0px 9px 0px;
}
#options .option2 .heading .headingLeft h1{
	width: 60%;
	position: relative;
	left: 10px;
	text-align: left;
	margin-bottom: 0px;
	background:none;
	padding: 0px;
	float:left;
}
.option2 .info{
	clear:both;
}
.addthis{
	color: #FFFFFF;
	font-size: 30px;
	font-family: karbonmedium;
	width: 40%;
	float:right;
	text-align: right;
	padding:0px;
}

.option2 button{
	width:5%;
	padding: 0px;
	float:right;
	border-left: #FFFFFF solid 4px;
	padding: 10px 0px 10px 0px;
}

.option2 p{
	display:block;
	float:left;
	width: 70%;
	text-align: justify;
	line-height: 20px;
}
.option2 .info{
	background: #cccccc;
	width: 100%;
	padding: 20px 0px 20px 0px;
	font-family: karbonthin;
}
.option2 .info .para{
	margin-left: 20px;
}
.option2 .info .price{
	text-align: center;
	float:right;
	display:block;
	width: 25%;
	padding: 20px;
	border-left: #FFFFFF solid thin;
	line-height: 20px;
}

.fee{
	font-family: karbonmedium;
	color: #000000;
}
.why{
	font-family: karbonmedium;
	color: #999999;
}

form#inputs input{
	border: none;
	border-radius: 0;
	font-size: 25px;
	font-family: karbonmedium;
	font-size: 14px;
	color: #000000;
	padding: 10px 10px 6px 10px;
	display:inline-block;
}
.names{
}
.rightz{
}
.topz{
	width: 23.1%;
}
textarea{
	border-radius: 0px;
	border: 0px;
	height: 100px;
	width: 48.8%;
}


#submit3{
	width: 100%;
	font-family: karbonmedium;
	font-size: 30px;
	color: #ffffff;
	border: none;
	background: #66cccc;
	padding: 10px 0px 10px 0px;
	margin-left: 0px;
	clear:both;
	margin-top: 20px;
}

/*options section end*/

#oldstation{
	border-top: #666666 solid thick;
	border-bottom: #ffffff solid thick;
}
#oldstation img{
	width: 100%;
}

/*connect section*/
#connect{
	background: #ffcc00;
	border-top: #ffffff solid thick;
	padding: 85px 0px 85px 0px;
	border-bottom: #ededed solid thick;
}
#connect .column{
	width: 50%;
	max-width: 420px;
	display: inline-block;
}
#connect .left{
	float:left;
}
#connect .left .inner{
	padding-right: 35px;
}
#connect .right .inner{
	padding-left: 35px;
}
#connect h1{
	font-family: karbonthin;
	font-size: 30px;
	padding-bottom: 15px;
	border-bottom: solid thin black;
}
#connect p{
	padding-top: 15px;
	text-align: justify;
	line-height: 22px;
	font-size: 14px;
}
#connect form input{
	font-family: karbonthin;
	background: none;
	border:none;
	box-shadow:none;
	font-size: 30px;
	width: 100%;
	height: 100%;
	margin-top: 10px;
}
#connect form input#submit2{
	text-align: left;
	display:inline-block;
	margin-left: 10px;
	color: #FFFFFF;
	width: 100px;
	background: #000000;
}
/*connect section end*/

/*footer*/
footer{
	background: #2b2b28	url(images/earth.png) center center no-repeat;
	background-size: cover;;
	border-top: #ffffff solid thick;
}
footer .content{
	display:block;
	position: relative;
	width: 980px;
	height: 502px;
	max-width: 95%;
	padding: 20px;
}
footer ul.buttons{
	text-align: center;
	margin-top: -70px;
	margin-bottom: 70px;
}
footer ul.buttons li{
	padding: 15px;
	display: inline-block;
	padding-top: 0px;
}
footer .column{
	float:left;
	display: inline-block;
}
footer #column1{
	padding-right: 118px;
}
footer #column2{
	padding-right: 46px;
}
footer h3{
	color: #ffcc00;
	margin-bottom:20px;
	font-family: karbonmedium;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul li{
	color: #ededed;
}
footer ul li.address{
	padding-left: 20px;
}
footer ul li a{
color: #ededed;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
footer ul li a:hover{
	color: #888888;
	text-decoration: none;
}
footer ul.positions li{
font-family: karbonmedium;
}
footer .position{
	color: #999999;
	font-family: karbonlight;
}
footer ul.positions li a{
	color: #ffcc00;
}
footer p{
	color: #939393;
	font-family: karbonthin;
	font-size: 10px;
	margin-top: 70px;
}
/*footer end*/


@media only screen and (max-width: 1300px) {
	.topz{
	width: 23%;
}
}
@media only screen and (max-width: 1240px) {
.topz{
	width: 98%;
}
textarea{
	width: 99%;
	margin-bottom: 20px;
}
}
@media only screen and (max-width: 1024px) {
textarea{
	width: 98%;
}
form#inputs .column{
float:left;
width: 50%;
}
form#inputs input{
	border: none;
	border-radius: 0;
	font-size: 25px;
	font-family: karbonmedium;
	font-size: 14px;
	color: #000000;
	padding: 10px 10px 6px 10px;
	float:left;
}
.topz{
	width: 95%;
}
.topz1{
	margin-right: 12px;
}

form#inputs *{
	display:block;
}
form textarea.comments{
	width: 97%;
	margin-top: 20px;
	margin-left: 0px;
}
form textarea{
	border-radius: 0;
	border: none;
	width: 100%;
	margin-left: -20px;
	height: 100px;
	font-family: karbonmedium;
	color: #000000;
	font-size: 14px;
}

#submit3{
	width: 100%;
	font-family: karbonmedium;
	font-size: 30px;
	color: #ffffff;
	border: none;
	background: #66cccc;
	padding: 10px 0px 10px 0px;
	margin-left: 0px;
	clear:both;
}





    section#layout .layoutP{
        padding-left: 0px;
        padding-right: 0px;
    }

    section#layout .dept{
    display:block;
    text-align: center;
    padding: 0px 20px 0px 20px;
    margin-bottom: 40px;
}
	section#layout .dept h3{
		font-size: 14px;
	}
section#layout .dept p{
    text-align: justify;
    border-top: solid 2px #555;
    padding: 10px 0px 0px 0px;
    height: 400px;
}
input[type="radio"] + label span {
	height: 37px;
}
.selectthis{
	font-size: 18px;
}
.selectbox button{
	font-size: 18px;
}
#options .option p{
	height: 180px;
	font-size: 14px;
}
#options .box{
	height: 300px;
}
.option2 .info .price{
	text-align: center;
	float:right;
	display:block;
	width: 23%;
	padding: 20px;
	border-left: #FFFFFF solid thin;
	line-height: 20px;
}
#options2 p{
	font-size: 14px;
}
}

@media only screen and (max-width: 788px) {
	header .content{
	max-width: 70%;
}
#tagline{
	font-size: 14px;
	line-height: 16px;
}
input[type="radio"] + label span {
	height: 35px;
}
input[type="checkbox"] + label span {
	height: 37px;
	width: 9%;
}
nav ul li{
	display:inline-block;
	text-align: center;
	padding: 0px 10px 0px 10px;
}
header form#topform input{
	border: 0px;
	box-shadow:none;
	text-align: center;
	border-radius: 0px;
	font-size: 20px;
	font-family: karbonlight;
	padding: 10px;
	margin-right: 10px;
}
form#topform #submit1{
	font-family: karbonregular;
	background: #ffcc00;
	color: #FFFFFF;
	letter-spacing: 2px;
	position: relative;
	top: 0px;
	float:none;
	padding: 10px 12px 9px 12px;
}

#inputs a.facebook{
	margin-right: 5px;
}
#inputs a{
	clear:both;
	position: relative;
	left: -5px;
}



section#layout .layoutP{
        padding-left: 0px;
        padding-right: 0px;
    }

section#layout .dept{
    display:block;
    text-align: center;
    padding: 0px 14px 0px 14px;
    margin-bottom: 40px;
}
section#layout .dept h2{
font-size: 18px;
}
section#layout .dept .learnmore, section#layout .dept .tellafriend{
	font-size: 12px;
}
section#layout .dept h3{
		font-size: 10px;
		margin-bottom:0px;
	}
section#layout .dept p{
    text-align: justify;
    border-top: solid 2px #555;
    padding: 10px 0px 0px 0px;
    font-size: 12px;
    height: 420px;
}
section#layout .dept img{
	width: 90%;
}
.selectthis{
	font-size: 18px;
}
.selectbox button{
	font-size: 18px;
}


#options h1{
	font-size: 18px;
}
#options h2{
	font-size: 12px;
}
#options .option p{
	font-size: 12px;
	height: 200px;
}
#options .box{
	height: 300px;
}
#options .price{
	font-size: 8px;
	line-height: 14px;
}
#options .selectthis{
	font-size: 16px;
}
#options button{
	padding-bottom: 9px;
	font-size: 16px;
}
.addthis{
	font-size: 18px;
}
#options2 .option2 .price{
		width: 20%;
}
#options2 .option2 .info .para p{
	font-size: 10px;
	padding-right: 10px;
}
footer img{
	display:none;
}
footer .content{
	max-width: 90%;
}
footer .column#column3{
	clear:both;
}
footer.column#column2{
	float:right;
}
#connect form input#submit2{
	text-align: left;
	display:inline-block;
	margin-left: 0px;
	color: #FFFFFF;
	width: 150px;
	background: #000000;
}
}

@media only screen and (max-width: 700px){
input[type="checkbox"] + label span {
	height: 31px;
}
nav{
	position: fixed;
	top: 46px;
	width: 100%;
	padding-bottom: 10px;
	display: none;
	background:none;
<<<<<<< HEAD
}
nav ul {
	padding: 0px;
}
=======
}
nav ul {
	padding: 0px;
}
>>>>>>> e20dd5ca4606f5a34311fbcbbdba5e41e1e79623
nav ul li {
	display: block;
	background-color: #2b2b28;
	padding: 5px;
	margin-top: 1px;

}
#navbttnwrapper{
	display: inline-block;
	z-index: 999;
}
#sticky_navigation{
	width: auto;
	height: auto;
	background: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#sticky_navigation_wrapper{
	background: none;
}
section#layout .dept p{
    text-align: justify;
    border-top: solid 2px #555;
    padding: 10px 0px 0px 0px;
    font-size: 12px;
    height: auto;
}
section#layout .dept{
	margin-top: 50px;
}


/*about section*/
#about{
	background: #ffcc00;
	border-top: #ffffff solid thick;
	padding: 85px 0px 85px 0px;
	border-bottom: #ededed solid thick;
}
#about .column{
	width: 100%;
	max-width: 100%;
	display: block;
	float:none;
	clear:both;
}
#about .left{
	float:none;
}
#about .left .inner{
	padding-right: 0px;
}
#about .right .inner{
	padding-top: 40px;
	padding-left: 0px;
}
/*about section end*/


/*membership section*/
#membership{
	border-top: #ededed solid thick;
	border-bottom: #ffffff solid thick;
	background: #2b2b28;
	padding: 80px 0px 40px 0px;
}

#membership .column{
	width: 100%;
	max-width: 100%;
	display: inline-block;
}
#membership .left{
	float:none
}
#membership .left .inner{
	padding-right: 0px;
}
#membership .right .inner{
	padding-left: 35px;
}
/*membership section end*/


ul#nav2 li a{
	color: #ffcc00;
	font-family: karbonmedium;
	font-size: 25px;
	padding: 5px;
}

section#layout .dept h2{
    font-size: 16px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background: #444;
    letter-spacing: 4px;
}

section#membership .layoutP{
    padding: 0px 0px 0px 0px;
}

section#membership .layoutP p{
    padding: 20px 0px 20px 0px;
    font-size: 13px;
    width: 100%;
    text-align: justify;
    line-height: 20px;
     float:none;
}

section#layout .dept{
    float:none;
    display:block;
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-bottom: 40px;
}
section#layout .dept p{
    text-align: justify;
    border-top: solid 2px #555;
    padding: 10px 0px 0px 0px;
    min-height: 100px;
}
section#signup .layoutP{
    padding: 0px;
}

#options .option .inner h2{
	background: #ffcc00;
	font-family: karbonmedium;
	color: #000000;
	padding: 5px 0px 5px 0px;
	margin-bottom: 10px;
}

section#options .option h2{
    font-size: 16px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background: #444;
    letter-spacing: 4px;
}


section#options .option{
    float:none;
    display:block;
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-bottom: 40px;
}
section#options .option p{
    text-align: justify;
    border-top: solid 2px #555;
    padding: 10px 0px 0px 0px;
    min-height: 100px;
}
#options .option p{
	height: auto;
}
#options .box{
	height: auto;
	min-height: 0px;
}
#options2 .option2 .heading .headingLeft{
	width: 90%;
}
#options2 .option2 .heading .addthis{
	position: relative;
	left: -10px;
	font-size: 12px;
}
#options2 .option2 .heading button{
	font-size: 12px;
	width: 10%;
}
#options2 .option2 h1{
font-size: 12px;
letter-spacing: 0px;
}
.option2 p{
	float:none;
	width: 90%;
}
#options2 .option2 .price{
	width: 90%;
	border-left: none;
	border-top: #ffffff solid thin;
	margin-top: 20px;
	padding-bottom: 0px;
}
#connect .column{
	float:none;
	width: 100%;
}

#connect .left .inner{
	padding-right: 0px;
}
#connect .right .inner{
	padding-top: 40px;
	padding-left: 0px;
}

footer .content{
	display:block;
	position: relative;
	width: 85%;
	height: 800px;
	max-width: 95%;
	padding: 20px;
}
}

@media only screen and (max-width: 480px){

form#inputs .column{
float:none;
width: 100%;
}
form#inputs input{
	border: none;
	border-radius: 0;
	font-size: 25px;
	font-family: karbonmedium;
	font-size: 14px;
	color: #000000;
	padding: 10px 10px 6px 10px;
	float:left;
}
.topz{
	width: 95%;
}
.topz1{
	margin-right: 12px;
}

form#inputs *{
	display:block;
}
form textarea.comments{
	width: 97%;
	margin-top: 20px;
	margin-left: 0px;
}
form textarea{
	border-radius: 0;
	border: none;
	width: 100%;
	margin-left: -20px;
	height: 100px;
	font-family: karbonmedium;
	color: #000000;
	font-size: 14px;
}

#submit3{
	width: 100%;
	font-family: karbonmedium;
	font-size: 18px;
	color: #ffffff;
	border: none;
	background: #66cccc;
	padding: 10px 0px 10px 0px;
	margin-left: 0px;
	clear:both;
}



footer {
	max-width:100%;
}

header{
	background: #ededed;
	text-align: center;
	color: #a9a9a9;
	/*padding: 10px 0px 40px 0px;*/
	max-height: 100%;
}
header .content form{
	position: relative;
	left: 0px;
}
header img#xfr{
	width: 50%;
}

#welcome{
	font-size: 18px;
	font-family: karbonmedium;
	text-transform: uppercase;
	padding: 0px 0px 0px 0px;
}
#tagline{
	border-top: #dcdcdc solid medium;
	border-bottom: #dcdcdc solid medium;
	color: #909090;
	text-transform: uppercase;
	line-height: 16px;
	font-size: 12px;
	margin: 5px 0px 5px 0px;
}

header form#topform input{
	border: 0px;
	box-shadow:none;
	text-align: center;
	border-radius: 0px;
	font-size: 20px;
	font-family: karbonlight;
	padding: 10px;
	margin-right: 20px;
}
form#topform #submit1{
	font-family: karbonregular;
	background: #ffcc00;
	color: #FFFFFF;
	letter-spacing: 2px;
	position: relative;
	top: -5px;
	padding: 10px 12px 9px 12px;
}
form#topform{
	display: inline-block;
}

#inputs a{
	display: inline-block;
	position: relative;
	top: 12px;
}
#inputs a.facebook{
	margin-right: 10px;
}



header form#topform input{
	border: 0px;
	box-shadow:none;
	text-align: center;
	border-radius: 0px;
	font-size: 20px;
	font-family: karbonlight;
	padding: 10px;
	margin-right: 0px;
	max-width: 200px;
}
form#topform #submit1{
	font-family: karbonregular;
	background: #ffcc00;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 2px;
	position: relative;
	top: 0px;
	padding: 10px 12px 9px 12px;
}
form#topform{
	display: inline-block;
}
#connect form input{
	font-family: karbonthin;
	background: none;
	border:none;
	box-shadow:none;
	font-size: 30px;
	width: 90%;
	height: 100%;
	margin-top: 10px;
}
}